#bg{
  background: #000 url(../images/background-stage.jpg) no-repeat top center;
  height: 768px;
}

li{
  display: inline;
}

#back {
  padding-top: 170px;
  padding-left: 100px;
}

#front {
  padding-top: 140px;
}

#crowdback {
  padding-right: 30px;
  animation: updown 500ms infinite alternate;
}

#crowdfront {
  /*padding-top: 60px;*/
  padding-right: 30px;
  animation: updown 400ms infinite alternate;
}
h1{
  margin: center;

}
/*.applePic{
animation: updown 500ms infinite alternate;
}*/

@keyframes updown {
0%{
transform: translate(0px,10px);
}
100%{
transform: translate(0px,0px);
}
}
