#bg{
  background: #000 url(../images/background-stage.jpg) no-repeat top center;
  height: 768px;
}

li{
  display: inline;
}

#back {
  padding-top: 170px;
  padding-left: 100px;
}

#front {
  padding-top: 140px;
}

#crowdback {
  padding-right: 30px;
}

#crowdfront {
  padding-top: 580px;

}
